@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>

<p>@ViewData["CheckoutMessage"]</p>

<div style="text-align: center;">
    <a asp-action="Index" class="btn btn-primary">Back to Shopping Cart</a>
</div>